* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.aligncenter {
    align-items: center;
}

.w80 {
    width: 80vw;
}

.w100 {
    width: 100vw;
}

.overhid {
    overflow: hidden;
}

.marauto {
    margin: auto;
}

.textcenter {
    text-align: center;
}

nav {
    display: flex;
    width: 100vw;
    height: 100px;
    padding: 0 10px;
}

nav .research {
    padding: 35px;
}

.research input {
    padding: 4px;
    border-radius: 10px;
}

nav ul li a {
    font-size: 1.5em;
    color: black;
    padding: 15px 40px;
    border-right : 0.8px solid gray;
}

.banniere {
    background: url("img/banniere4.jpg") top / cover no-repeat;
    /* background: url position \ taille repeat; */
    width: 100vw;
    height: 400px;
}

#navbar_mob {
    display: none;
    position: absolute;
    /* left: 30px;
    top: 30px; */
    margin: auto;
    background-color: brown;
    width: 90%;
    height: 90%;
    margin: 5%;
    border-radius: 20px;
}

#navbar_mob i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
}

#navbar_mob ul {
    height: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#navbar_mob ul li a {
    font-size: 2.2em;
    color: black;
}

#navmob {
    display: none;
    justify-content: space-between;
    padding: 10px;
    margin-left: 20%;
}

#burger {
    height: 35px;

}

main {
    height: 900px;
}

#main2 {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}

.background {
    background: url("img/fond.jpg") center/cover repeat;
    opacity: 0.16;
    position: absolute;
    height: 900px;
    width: 100%;
    z-index: -1;
}

h1 {
    font-size: 2em;
    padding-top: 20px;
    text-align: center;
}

.pintro {
    font-size: 1.5em;
    margin: auto;
    padding: 20px;
    opacity: 1;
}

.imgcard {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    width: 60%;
    margin:20px 20%;
    flex-shrink: 0;
    animation: slider 20s infinite ease-in-out;
    overflow: hidden;
}

#slider {
    width: 80vw;
}

@keyframes slider {
    0%,
    20% {
        transform: translate(0);
    }
    25%,
    45% {
        transform: translate(-80vw);
    }
    50%,
    70% {
        transform: translate(-160vw);
    }
    75%,
    95% {
        transform: translate(-240vw);
    }
    100% {
        transform: translate(-320vw);
    }
}

.socialnet {
    height: 80px;
    margin: 10px 50px;
}

footer {
    display: flex;
    background-color: white;
}

/* @media screen and (max-width: 992px) {} */

@media screen and (max-width: 768px) {
    nav, .banniere {
        display: none;
    }

    #navmob {
        display: flex;
    }

    .research {
        padding: 6px;
    }

    #main2 {
        flex-direction: column-reverse;
    }

    .card {
        height: 300px;
        width: 90%;
        margin:0 5%;
        flex-shrink: 0;
        animation: slider 20s infinite ease-in-out;
        overflow: hidden;
    }

    .socialnet {
        height: 30px;
    }

}