* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;

}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.aligncenter {
    align-items: center;
}

.column {
    flex-direction: column;
}

.w80 {
    width: 80vw;
}

.overhid {
    overflow: hidden;
}

.marauto {
    margin: auto;
}

.textcenter {
    text-align: center;
}

nav {
    display: flex;
    height: 100px;
    padding: 0 10px;
}

.logo {
    height: 90px;
}

nav .research {
    padding: 35px;
    padding-left: 0;
}

input {
    padding: 4px;
    border-radius: 10px;
}

nav ul {
    width: 50%;
}

nav ul li {
    padding: 15px 0;
}

nav ul li a {
    font-size: 1.5em;
    color: black;
    padding: 15px;
    border-right: 0.8px solid gray;
}

.banniere {
    background: url("img/banniere4.jpg") center / cover no-repeat;
    width: 100vw;
    height: 400px;
}

#navmob {
    display: none;
    justify-content: space-between;
    padding: 10px;
}

#logomob {
    height: 30px;
}

label {
    display: flex;
}

#burger {
    visibility: hidden;
}

#navbar_mob {
    position: absolute;
    z-index: 1;
    margin-top: -250%;
    margin-left: -85%;
    transition: margin-top 0.5s ease;
    background-color: #94bd88;
    width: 85%;
    height: 85%;
    border-radius: 20px;
}

#navbar_mob ul {
    height: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#navbar_mob ul li a {
    font-size: 2.2em;
    color: black;
}

.logo_menu::before {
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-size: 1.6em;
    margin-right: 5px;
}

#burger:checked ~ .logo_menu::before {
    position: fixed;
    right: 5px;
    content: "\f00d";

}

#burger:checked ~ #navbar_mob {
    margin-top: 7%;
    position :fixed;
}

#main2 {
    display: flex;
    flex-direction: column;
    
}

main {
    overflow: hidden;
    position: relative;
}

.background {
    background: url("img/fond.jpg") center/cover repeat;
    opacity: 0.16;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    

}

.test {
    position: relative;
    margin: auto;
}

h1 {
    font-size: 2em;
    padding-top: 20px;
    text-align: center;
    display: block;
}

.pintro {
    width: 60%;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    text-align: center;
}

.imgcard {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    width: 60%;
    margin:20px 20%;
    flex-shrink: 0;
    animation: slider 12s infinite ease-in-out;
    overflow: hidden;
}

#slider {
    width: 80vw;
}

@keyframes slider {
    0%,
    20% {
        transform: translate(0);
    }
    25%,
    45% {
        transform: translate(-80vw);
    }
    50%,
    70% {
        transform: translate(-160vw);
    }
    75%,
    95% {
        transform: translate(-240vw);
    }
    100% {
        transform: translate(-320vw);
    }
}

.socialnet {
    height: 80px;
    margin: 10px 30px;
}

#xicon {
    height: 100px;
}

footer {
    display: flex;
    background-color: white;
}

#form input {
    padding: 5px;
    width: 260px;
}

#message_input {
    height: 200px;
}

button {
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    font-size: 1.2em;
}

#form {
    display: flex;
    margin:100px auto;
    background-color: #e1bc7d;
    width: 600px;
    height: 550px;
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    nav {
        display: none;
    }

    .banniere {
        height: 10vh;
    }

    #navmob {
        height: 8vh;
        display: flex;
    }

    #main2 {
        flex-direction: column-reverse;
    }

    .pintro {
        width: 90%;
        margin: 5px auto;
    }

    .card {
        height: 300px;
        width: 90%;
        margin: 5%;
        flex-shrink: 0;
        animation: slider 20s infinite ease-in-out;
        overflow: hidden;
    }

    .socialnet {
        height: 40px;
    }

    #xicon {
        height: 50px;
    }

    #form {
        height: 68vh;
        width: 80%;
        margin: 20px auto;
    }

    #form input {
        padding: 5px;
        width: 60vw;
    }

    #footer {
        height: 8vh;
        overflow-y: hidden;
    }

}