* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.aligncenter {
    align-items: center;
}

.column {
    flex-direction: column;
}

.w80 {
    width: 80vw;
}

/* .w100 {
    width: 100vw;
} */

.overhid {
    overflow: hidden;
}

.marauto {
    margin: auto;
}

.textcenter {
    text-align: center;
}

nav {
    display: flex;
    /* width: 100vw; */
    height: 100px;
    padding: 0 10px;
}

.logo {
    height: 90px;
}

nav .research {
    padding: 35px;
    padding-left: 0;
}

input, button {
    padding: 4px;
    border-radius: 10px;
}

nav ul {
    width: 50%;
}



nav ul li a {
    font-size: 1.5em;
    color: black;
    padding: 15px 30px;
    border-right: 0.8px solid gray;
}

.banniere {
    background: url("img/banniere4.jpg") center / cover no-repeat;
    width: 99vw;
    height: 400px;
}

#navbar_mob {
    position: absolute;
    z-index: 1;
    margin-left: -100%;
    margin-top: 5%;
    transition: margin-left 0.5s ease;
    background-color: #58874b;
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

#navbar_mob i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
}

#navbar_mob ul {
    height: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#navbar_mob ul li a {
    font-size: 2.2em;
    color: black;
}

#navmob {
    display: none;
    justify-content: space-between;
    padding: 10px;
}

#logomob {
    height: 40px;
}

#burger {
    height: 40px;

}

#main2 {
    display: flex;
    flex-direction: column;
}

main {
    overflow: hidden;
    position: relative;
}

.background {
    background: url("img/fond.jpg") center/cover repeat;
    opacity: 0.16;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

}

.test {
    position: relative;
}

h1 {
    font-size: 2em;
    padding-top: 20px;
    text-align: center;
    display: block;
}

.pintro {
    width: 60%;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    text-align: center;
}

.imgcard {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    width: 60%;
    margin:20px 20%;
    flex-shrink: 0;
    animation: slider 20s infinite ease-in-out;
    overflow: hidden;
}

#slider {
    width: 80vw;
}

@keyframes slider {
    0%,
    20% {
        transform: translate(0);
    }
    25%,
    45% {
        transform: translate(-80vw);
    }
    50%,
    70% {
        transform: translate(-160vw);
    }
    75%,
    95% {
        transform: translate(-240vw);
    }
    100% {
        transform: translate(-320vw);
    }
}

.socialnet {
    height: 80px;
    margin: 10px 50px;
}

#xicon {
    height: 100px;
}

footer {
    display: flex;
    background-color: white;
}

#form input {
    padding: 5px;
    width: 260px;
}

#message_input {
    height: 200px;
}

button {
    font-size: 1.2em;
}

#form {
    display: flex;
    margin:100px auto;
    background-color: #e1bc7d;
    width: 600px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
}


/* @media screen and (max-width: 992px) {} */

@media screen and (max-width: 768px) {
    nav, .banniere {
        display: none;
    }

    #navmob {
        display: flex;
    }

    .research {
        padding: 6px;
    }

    #main2 {
        flex-direction: column-reverse;
    }

    .pintro {
        width: 90%;
        margin: 5px auto;
    }

    .card {
        height: 300px;
        width: 90%;
        margin: 5%;
        flex-shrink: 0;
        animation: slider 20s infinite ease-in-out;
        overflow: hidden;
    }

    .socialnet {
        height: 40px;
    }

    #xicon {
        height: 50px;
    }

    #form {
        width: 80%;
    }

    #footer {
        height: 60px;
    }

}

